/* COLORS */
:root {
    --vdgblue: hsl(217, 19%, 35%);
    --ddblue: hsl(214, 17%, 51%);
    --gblue: hsl(212, 23%, 69%);
    --lgblue: hsl(210, 46%, 95%);
}

html {
    font-size: 13px;
}

body {
    min-height: 100vh;
    background-color: var(--lgblue);
}

.text h2 {
    color: var(--vdgblue);
}

.text p {
    color: var(--ddblue);
}

.avatar,.share {
    width: 50px;
    height: 50px;
}

.text .name {
    color: var(--vdgblue);
}

.share {
    background-color: var(--lgblue);
}