/* COLORS */
:root {
    --vdgblue: hsl(217, 19%, 35%);
    --ddblue: hsl(214, 17%, 51%);
    --gblue: hsl(212, 23%, 69%);
    --lgblue: hsl(210, 46%, 95%);
}

html {
    font-size: 13px;
}

body {
    min-height: 100vh;
    background-color: var(--lgblue);
}

.image {
  background-image: url("../images/drawers.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.persone img {
    width: 50px;
    height: 50px;
}

.name p {
    color: var(--vdblue);
}

@media (max-width: 576px) {
    .image {
        height: 40vh;
    }
}

.share {
    background-color: var(--lgblue);
    cursor: pointer;
}

.social {
    top: -5rem;
    right: -7rem;
    background-color: var(--vdgblue);
}

.social::after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: var(--vdgblue) transparent transparent transparent;
    position: absolute;
    bottom: -20px;
    left: 50%;
}

.social2 {
    bottom: 0;
    width: calc(100% - 6rem);
    background-color: var(--vdgblue);
}